body {
    font-family: 'Tahoma', serif;
    margin: 0;
    padding: 0;
    background-image: url("pc.png"); 
    background-size: cover;
    background-position: top;
    text-align: center;
    background-attachment: fixed;
}

@media (max-width: 600px) {
    body {
    background-image: url("phone.png");
    }
}

header {
    font-family: 'Tahoma', serif;
    background-color: #593d3b; 
    padding: 15px;
    color: white;
    font-size: 24px;
}

main {
    padding: 20px;
    color: #593d3b; 
}

#profile {
    border-radius: 50%;
    max-width: 150px;
    margin-bottom: 20px;
    border: none;
}

img {
    border: 2px solid rgba(0, 0, 0, 0.759);
  }

p {
    font-size: 18px;
    color: rgba(40, 38, 38, 0.998); 
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #593d3b; 
    font-weight: bold;
    font-size: 18px;
}

a:hover {
    color: #593d3b; 
}

footer {
    font-family: 'Tahoma', serif;
    background-color: #593d3b; 
    color: white;
    padding: 3px;
    bottom: 0;
    width: 100%;
}
    